@page "/"

<h1>Hello, world!</h1>

<h3>Please use Web Bluetooth API compatible browser</h3>
<p>(<b>Google Chrome</b>, for example)</p>
<p>Select required page and than click Connect button to start.</p>
<p>If you have any troubles, please look help page: <a href="https://my-ttgo-watch.co.uk/device/connect">my-ttgo-watch.co.uk/device/connect</a></p>
