@inject WatchService watch

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">WConfigurator</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="ir">
                <span class="oi oi-audio" aria-hidden="true"></span> IR Remote
            </NavLink>
        </li>
        @if (!watch.IsConnected)
        {
            <li class="nav-item px-3">
                <a @onclick="@Connect" class="nav-link" href="ir">
                    <span class="oi oi-bluetooth" aria-hidden="true"></span> Connect
                </a>
            </li>
        }
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    protected override void OnInitialized()
    {
        watch.OnUpdate += this;
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private async void Connect()
    {
        await watch.Connect();
    }
}
